h1, h2 {
    color : blue
}

h1 {
    text-transform: capitalize;
    text-align: center;
    text-decoration: underline;
}

h2 {
    background-color: pink;
}

p {
    text-align: justify;
    text-indent: 5%;
}