body {
  background-color: rgb(250,200,100);
  color: #009090;
  font-family: sans-serif;
}

h1 {
  text-align: center;
  padding: 10px;
  border-style: solid;
  border-color: #009090;
  border-radius: 5px;
  font-size: x-large;
  text-transform: capitalize;
  margin-left: 30px;
  margin-right:30px
}

h2, h3 {
  text-decoration: underline;
  font-weight: normal;
}

div {
  color: black;
  background-color: red;
  padding:10px;
  border-style: dashed;
}

#id1 {
  background-color: white;
  padding: 50px;
  margin: 25px;
  border-style: solid;
  border-color: #009090;
}

p {
  text-indent: 20px;
}

p.bloc {
  border-left-color: black;
  border-left-style: solid;
  text-align: justify;
  margin-left: 40px;
  padding-left: 20px;
}

.souligne {
  text-decoration: underline;
}

